// bower:scss
// endbower
@import url(https://fonts.googleapis.com/css?family=Dosis);

body {
  background: #2c3f52;
  font-family: 'Dosis', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #F25F5C;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 7.0em;
  top: 50%;
}
